<div class="jumbotron">
    <h1>Almaksoud</h1>
    <p class="lead">We are sure you hit this by mistake, click here we will take you from there.</p>
    <p><a href="http://almaksoud.com" class="btn btn-primary btn-large">Click here</a></p>
</div>
