@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidKufi-Bold.eot);
    src: url(../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Bold.woff2) format('woff2'), url(../fonts/DroidKufi-Bold.woff) format('woff'), url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}
/*Landing Style*/
.landingPage .navbar{
background-color: #fff;
margin-bottom: 0;
padding: 8px 5px;
}
.landingPage .footer{
background-color: #fff;
}
.landingPage .footer p{
color: #c0392b;
margin-top: 15px;
margin-bottom: 15px;
}

.landingPage {
  background-image: url('../img/landingBackground.jpg');

}
.landingPage .landingBody h1{
font-family: 'Droid Arabic Kufi';
color: #ecf0f1;
font-size: 75px;
}
.landingPage .landingBody p{
font-family: 'Droid Arabic Kufi';
color: #ecf0f1;
font-size: 40px;
}
.rightNavbar a{
font-family: 'Droid Arabic Kufi' !important;
color: #ecf0f1;
font-size: 15px !important;
}
.landingPage .landingIcon{
    max-width: 50px;
    max-height: 50px;
}
.textTop{
  margin-top: 100px;
}
.textTop h1{

}
.landingPage  .top-menu a{
  color: #c0392b !important; 
}
.socialLandingPage ul {
    margin: 0;
    padding: 5px;
}
.socialLandingPage ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.socialLandingPage i {
    width: 50px;
    height: 50px;
    color: #2980b9;
    background-color: #909AA0;
    font-size: 40px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.socialLandingPage i:hover {
    color: #2980b9;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.socialLandingPage .fa-facebook{
  background: #ecf0f1;
}
.socialLandingPage .fa-facebook:hover {
    background: #ecf0f1;
}
/*===================================================================
=====================================================================*/
/*Login Style*/
.loginlogo {
    width: 180px;
    height: 15px;
    margin: 150px auto;
    margin-top: 50px;
}
.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
}
.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}
.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}
.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}
.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}
.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}
.login-block button {
    width: 100%;
    height: 40px;
    background: #c0392b;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}
.login-block button:hover {
    background: #e74c3c;
}
.remembercheckbox {
  margin-top: -3px;
  font-family: Montserrat;
  color: #c0392b;
}
.remembercheckbox input{
  max-width: 15px;
  margin-top: -9px;
}
/*===================================================================
=====================================================================*/
/*Dashboard style*/
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
/*//////////////////////////////////////////*/
/*Helpers*/
.mt {
	margin-top: 100px;
}
.mb {
	margin-bottom: 25px;
}
/*//////////////////////////////////////////*/
/* Main cards */
.cards {
	padding-top: 40px;
}
/*//////////////////////////////////////////*/
/*white Panel */
.card-image{
  max-height: 80px;
}
.pn {
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.pn:hover {
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.white-panel {
	text-align: center;
	background: #ffffff;
	color: #ccd1d9;
}
.white-panel p {
	margin-top: 5px;
	font-weight: 700;
	margin-left: 15px;
}
.white-panel .white-header {
	background: #f4f4f4;
	padding: 3px;
	margin-bottom: 15px;
	color: #7f8c8d;
}
.white-panel .descreption {
	font-size: 14px;
color: #ccd1d9;
padding-bottom: 15px;
padding-top: 15px;
padding-left: 15px;
line-height: 1.5;
}
.white-panel i {
	color: #68dff0;
	padding-right: 4px;
	font-size: 14px;
}
/*===================================================================
=====================================================================*/
/*Users & GL Style */
/*filterandaddcontent*/
.filterandaddcontent{
  margin-top: 20px;
  margin-bottom: 20px;
}
.filterandaddcontent input:active,.filterandaddcontent input:focus {
   -webkit-box-shadow: none;
    box-shadow: none;
}
/*//////////////////////////////////////////*/
/* Add icon */
.addicon{
  margin-left: 4px;
}
.addbutton{
  font-family: Montserrat;
  background-color: #c0392b;
  color: #ecf0f1;
  border-color: #c0392b;
}
.addbutton:active,.addbutton:focus {
    outline-color: #ac2925 !important;
}
/*//////////////////////////////////////////*/
/*createentry*/
.createentrycontent{
  margin-bottom: 50px;
}
.createentry-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    }
h4.createentry-title{
  font-family: Montserrat;
}
.createentry-body{
    padding: 15px;
}
.createentry-body label, input{
 font-family: Montserrat;
}
.createentry-body input:hover{
  border-color: #c0392b;
}
.createentry-body input:focus{
  border-color: #c0392b;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/*//////////////////////////////////////////*/
/* Createmodal*/
h4.modal-title{
  font-family: Montserrat;
}
.createbutton{
  font-family: Montserrat;
  background-color: #c0392b;
  color: #ecf0f1;
  border-color: #c0392b;
}
.createbutton:hover{
  background:#c0392b;
  border-color: #c0392b;
  }
.createbutton:focus{
  background:#c0392b; 
  border-color: #c0392b;
}
.createbutton:active,.createbutton:focus {
  outline-color: #ac2925 !important;
}
.createmodalbody label, input{
 font-family: Montserrat;
}
.createmodalbody input:hover{
  border-color: #c0392b;
}
.createmodalbody input:focus{
  border-color: #c0392b;
}
/*//////////////////////////////////////////*/
/* Filter */
#filter{
  font-family: Montserrat;
}
input#filter{
  width: 200px;
}
input#filter:focus{
border-color: #c0392b; 
}
/*//////////////////////////////////////////*/
/* Users table */
.usertable{
  margin-top: 20px;
  font-family: Montserrat;
}
/*//////////////////////////////////////////*/
/*Editdeletebutton*/
.editdeletebutton{
  font-family: Montserrat;
  background-color: #c0392b;
  color: #ecf0f1;
  border-color: #c0392b;
}
/*//////////////////////////////////////////*/
/*Editdeletedropdown*/
.editdeletedropdown{
 font-family: Montserrat;
}
/*===================================================================
=====================================================================*/
/*footer & header of all pages*/
/*Navbar*/
.navbar{
  background-color: #c0392b;
  border:none;
  border-radius: 0px;
}
/*Header top menu*/
ul li {
  list-style: none;
}
a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

ul.top-menu{
    margin-top: 15px;
}
ul.top-menu > li > .logout {
  color: #ecf0f1;
  font-size: 14px;
  font-family: Montserrat;
}
a.logo {
  font-size: 20px;
  color: #ecf0f1;
  float: left;
  margin-top: 10px;
  text-transform: uppercase;
}
a.logo b {
  font-weight: 900;
}
a.logo:hover, a.logo:focus {
  text-decoration: none;
  outline: none;
}
.loginfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
  background-color: #c0392b;
  padding: 14px 20px;
}
.footer{
position: fixed;
bottom: 0;
width: 100%;
min-height: 50px;
background-color: #c0392b;
 color: #ecf0f1;
}

.footer p{
margin-top: 15px;
margin-bottom: 15px;
}


