/*mouse Curser*/
body.waiting * {
    cursor: progress !important;
}
/*===================================================================
=====================================================================*/
/*///////////////////////////////////////*/
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidKufi-Bold.eot);
    src: url(../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Bold.woff2) format('woff2'), url(../fonts/DroidKufi-Bold.woff) format('woff'), url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Droid Arabic';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Regular.woff2) format('woff2'), url(../fonts/DroidKufi-Regular.woff) format('woff'), url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}
.footer {
    border-top: solid 5px #ac2925;
}
.text-muted {
    color: #ccc;
}

/*===================================================================
=====================================================================*/
/*Loader Style*/
#jquery-loader-background {
    opacity: 0.8 !important;
    background-color: white !important;

}

#jquery-loader {
    border: none !important;
    background-color: transparent !important;
    width: 175px !important;
    height: 175px !important;
}
.logoLoader i{
    color: white;
    margin-top: 15px !important;
}

/*===================================================================
=====================================================================*/
/*Landing Style*/
.landingPage .navbar {
    background-color: #fff;
    margin-bottom: 0;
    padding: 8px 5px;
}

.landingPage .footer {
    background-color: #fff;
}

.landingPage .footer p {
    color: #c0392b;
    margin-top: 15px;
    margin-bottom: 15px;
}

.landingPage {
    background-image: url('../img/landingBackground.jpg');
}

.landingPage .landingBody h1 {
    font-family: 'Droid Arabic Kufi';
    color: #ecf0f1;
    font-size: 75px;
}

.landingPage .landingBody p {
    font-family: 'Droid Arabic Kufi';
    color: #ecf0f1;
    font-size: 40px;
}

.rightNavbar a {
    font-family: 'Droid Arabic Kufi' !important;
    color: #ecf0f1;
    font-size: 15px !important;
}

.landingPage .landingIcon {
    max-width: 50px;
    max-height: 50px;
}

.headerIcon {
    max-width: 50px;
    max-height: 50px;
    margin-top: 4px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.textTop {
    margin-top: 100px;
}

    .textTop h1 {
        font-size: 200px;
    }

.landingPage .top-menu a {
    color: #c0392b !important;
}

.socialLandingPage ul {
    margin: 0;
    padding: 5px;
}

.socialLandingPage ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.socialLandingPage i {
    width: 50px;
    height: 50px;
    color: #2980b9;
    background-color: #909AA0;
    font-size: 40px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.socialLandingPage i:hover {
    color: #2980b9;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.socialLandingPage .fa-facebook {
    background: #ecf0f1;
}

.socialLandingPage .fa-facebook:hover {
    background: #ecf0f1;
}

.visibleOnlySm {
    margin-top: 70px;
}

.visibleOnlySm a {
    font-family: 'Droid Arabic Kufi';
    color: #ecf0f1 !important;
    font-size: 40px;
    margin-right: 25px;
}

.hiddeOnlyMdLanding {
    min-height: 20vh;
    width: 100%;
}

/*===================================================================
=====================================================================*/
/*Login Style*/
.hiddeOnlyMdLogin {
    min-height: 10vh;
    width: 100%;
}

.loginlogo {
    width: 210px;
    height: 15px;
    margin: 150px auto;
    margin-top: 50px;
}

.login-block {
    max-width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px !important;
    font-family: 'Droid Arabic Kufi' !important;
    padding: 0 20px 0 50px;
    outline: none;
}
.login-block input:focus{
    border-color: #c0392b;
}

.login-block input#txtEmail {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#txtEmail:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#txtPassword {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#txtPassword:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #c0392b;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Droid Arabic Kufi';
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #e74c3c;
}

.remembercheckbox {
    margin-top: -3px;
    font-family: 'Droid Arabic Kufi';
    color: #c0392b;
}

.remembercheckbox input {
    max-width: 15px;
    margin-top: -9px;
}

.remembercheckbox span {
    margin-right: 30px;
}

.errorFont {
    font-family: 'Droid Arabic Kufi';
    font-size: 12px;
    color: #c0392b;
    padding-right: 20px;
    float: right;
}

input.ng-invalid.ng-touched {
    border-color: #c0392b !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6) !important;
}
/*===================================================================
=====================================================================*/
/*Dashboard style*/
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
/*//////////////////////////////////////////*/
/*Helpers*/

.marginbottom {
    margin-bottom: 25px;
}
/*//////////////////////////////////////////*/
/* Main cards */
.cards {
    padding-top: 40px;
}
/*//////////////////////////////////////////*/
/*white Panel */
.card-image {
    max-height: 80px;
}

.dvPanel {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.dvPanel:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.white-panel {
    text-align: center;
    background: #ffffff;
    color: #ccd1d9;
}

.white-panel p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px;
}

.white-panel .white-header {
    font-family: 'Droid Arabic Kufi';
    background: #f4f4f4;
    padding: 3px;
    margin-bottom: 15px;
    color: #7f8c8d;
}

.white-panel .descreption {
    font-size: 12px;
    font-family: 'Droid Arabic Kufi';
    color: #ccd1d9;
    padding: 15px;
    line-height: 1.5;
}

.white-panel i {
    color: #68dff0;
    padding-right: 4px;
    font-size: 14px;
}
/*===================================================================
=====================================================================*/
/*Users & GL Style */
/*usersContent*/
.usersContent {
    direction: rtl;
}
/*//////////////////////////////////////////*/
/*glContent*/
.glContent {
    direction: rtl;
    
}

.glFilter {
    margin-top: 20px;
}
/*//////////////////////////////////////////*/
/*filter$Add$SelectContent*/
.filterandaddcontent {
    margin-top: 20px;
    margin-bottom: 20px;

}

.filterandaddcontent input, select {
    font-family: 'Droid Arabic Kufi' !important;
    font-size: 12px !important;

}


.filterandaddcontent input:active, .filterandaddcontent input:focus {
    border-color: #c0392b;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filterandaddcontent select:active, .filterandaddcontent select:focus {
    border-color: #c0392b;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*//////////////////////////////////////////*/
/* Add icon */
.addicon {
    margin-left: 4px;

}

.addbutton {
    font-family: 'Droid Arabic Kufi';
    background-color: #c0392b;
    color: #ecf0f1;
    border-color: #c0392b;
}

.addbutton:active, .addbutton:focus {
    outline-color: #ac2925 !important;
}
/*//////////////////////////////////////////*/
/* Createmodal*/
h4.modal-title {
    font-family: Montserrat;
}

.createbutton {
    font-family: Montserrat;
    background-color: #c0392b;
    color: #ecf0f1;
    border-color: #c0392b;
}

.createbutton:hover {
    background: #c0392b;
    border-color: #c0392b;
}

.createbutton:focus {
    background: #c0392b;
    border-color: #c0392b;
}

.createbutton:active, .createbutton:focus {
    outline-color: #ac2925 !important;
}

.createmodalbody label, input {
    font-family: 'Droid Arabic Kufi';
}

.createmodalbody input:hover {
    border-color: #c0392b;
}

.createmodalbody input:focus {
    border-color: #c0392b;
}

.modal-header button.close {
    float: left;
}

.createModalPanal {
    margin-bottom: 0px;
}

.createModalPanal .panel-heading {
    border-color: white;
    background-color: white;
}

.createModalPanal .panel-heading h3 {
    font-family: 'Droid Arabic Kufi';
    color: #c0392b;
}

.createModalPanal .panel-body label {
    font-family: 'Droid Arabic Kufi';
    font-size: 14px;
}

.createModalPanal .panel-body span {
    margin-left: 10px;
}
/*//////////////////////////////////////////*/
/* Users table */
.usertable {
    margin-top: 20px;
    font-family: 'Droid Arabic Kufi';
    margin-bottom: 60px !important;

}

.usertable td, th {
    vertical-align: text-top !important;
    text-align: right;
}
.usertable td {
    font-family: 'Droid Arabic' !important;
}

.table-responsive {
    border: none;
}
/*//////////////////////////////////////////*/
/* GL table */
.gltable {
    margin-top: 20px;
    font-family: 'Droid Arabic Kufi';
    margin-bottom: 60px !important;

}

.gltable td, th {
    vertical-align: text-top !important;
    text-align: right;
        
}
.gltable tr{
    font-size: 14px;
    cursor: pointer;
}
.gltable td{
    font-family: 'Droid Arabic' !important;
    font-size: 10px;
    font-weight: normal;
}

/*//////////////////////////////////////////*/
/*Editdeletebutton*/
.editdeletebutton {
    font-family: 'Droid Arabic Kufi';
    background-color: #c0392b;
    color: #ecf0f1;
    border-color: #c0392b;
}
/*//////////////////////////////////////////*/
/*Editdeletedropdown*/
.editdeletedropdown {
    font-family: Montserrat;
}

.editdeletedropdown li{
    cursor: pointer;
}
/*//////////////////////////////////////////*/
/*Delete Modal*/
.DeleteModalbody p{
   font-family: 'Droid Arabic Kufi' ;
   font-size: 14px; 
}
/*//////////////////////////////////////////*/
/*DeleteEntry Modal*/
.DeleteModalfooter .btn-default{
 font-family: 'Droid Arabic Kufi';
}
.DeleteModalfooter .btn-default:focus{
 border-color: #c0392b !important;
}
/*===================================================================
=====================================================================*/
/*create New Entry*/
/*createentrycontent*/
.createentry-header {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}
h4.createentry-title {
    font-family: 'Droid Arabic Kufi' !important;
}
.createentry-body {
    padding: 15px;
}
.createentry-body label, input {
    font-family: 'Droid Arabic Kufi' !important;
    font-size: 10px !important;
}

.createentry-body label{
    margin-top: 10px;
}

.createentry-body input:hover {
    border-color: #c0392b;
}

.createentry-body input:focus {
    border-color: #c0392b;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.createentry-body input {
    margin-bottom: 5px;
}
.createentry-body select{
   font-family: 'Droid Arabic Kufi' !important;
   font-size: 10px;
   margin-top: 5px;
   color: #555;
   direction:rtl;
   border: 1px solid #ccc;
   padding-bottom: 2px;
}
.createentry-body select:focus {
    border-color: #c0392b;
    -webkit-box-shadow: none;
}
.createentry-body select:hover {
    border-color: #c0392b !important;
}
.glyphicon-menu-hamburger{
        color: #c0392b;
    font-size: 16px;
    top: 13px;
}
.glyphicon-refresh{
        color: #fff;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}
.iconRemovelookup{
    color: #c0392b;
        font-size: 16px;
        cursor: pointer;
}
.clear{
    float: left;
    width: 100%;
    height: 30px;
}
.padding10{
    padding: 10px;
}

/*CreateNewSupplier*/
.createentry-body .checkbox input{
    width: 15px;
    height: 15px;
    margin-top: 0px;
}
/*//////////////////////////////////////////*/
/*createEntryButton*/
.createEntryButton {
    font-family: 'Droid Arabic Kufi' !important;
    background-color: #c0392b;
    color: #ecf0f1;
    border-color: #c0392b;
}

.createEntryButton:hover {
    background: #c0392b;
    border-color: #c0392b;
}

.createEntryButton:focus {
    background: #c0392b;
    border-color: #c0392b;
}

.createEntryButton:active, .createEntryButton:focus {
    outline-color: #ac2925 !important;
}
/*===================================================================
=====================================================================*/
/*footer & header of all pages*/
/*Navbar*/
.navbar {
    background-color: #c0392b;
    border: none;
    border-radius: 0px;
}
/*Header top menu*/
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

ul.top-menu {
    margin-top: 15px;
}

ul.top-menu > li > .logout {
    color: #ecf0f1;
    font-size: 10px;
    font-family: 'Droid Arabic Kufi' !important;
    cursor: pointer;
}

a.logo {
    font-size: 20px;
    color: #ecf0f1;
    float: left;
    margin-top: 10px;
    text-transform: uppercase;
}

a.logo b {
     font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

.loginfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    background-color: #c0392b;
    padding: 14px 20px;
}

.pageBody {
    margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background-color: #c0392b;
    color: #ecf0f1;
}

.footer p {
    margin-top: 15px;
    margin-bottom: 15px;
}
