<!--Navbar start -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="row">
<div class="col-xs-6">
<!--logo start-->
<div>
<a href="#/dashboard">
<img src="img/icon2.png" class="img-responsive headerIcon" alt="logo">
</a>
</div>
<!--logo end-->
</div>
<!--right of navbar start-->
<div class="col-xs-6 navBarRight">
<ul class=" pull-right top-menu list-inline" >
    <li><a class="logout" id="txtUserName">{{txtUserName}}</a></li>
    <li><span class="logout">|</span></li>
    <li><a class="logout" ng-click="logout()" >تسجيل الخروج</a></li>
</ul>
</div>
<!--right of navbar end-->
</div>
</div><!-- /.container-fluid -->
</nav>
<!--Navbar end -->
<!-- ======================================================================================================================================================================== -->
<!--Content start -->
<div class="container-fluid createentrycontent pageBody">
<!-- CreateEntry content header start -->
<div class="createentry-header">
<h4 class="createentry-title">إنشاء مُدخل جديد</h4>
</div>
<!-- CreateEntry content header End -->
<!-- createmodal content body start -->
<div class="createentry-body">
<form id="frmCreateNewEntry" name="frmCreateNewEntry" novalidate ng-submit="onSubmit()">
<!--fieldset 1 -->
<fieldset class="form-group row">
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Debtor" type="text" class="form-control" id="txtDebtor" name="txtDebtor" placeholder="القيمة" tabindex="3" required>
<span ng-show="frmCreateNewEntry.txtDebtor.$dirty && frmCreateNewEntry.txtDebtor.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtDebtor.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">مدين</label>
<!-- <div class="col-md-3 col-sm-3 col-xs-9">
<div class="col-md-4 col-sm-4 col-xs-4">
<input ng-model="Date" type="text" class="form-control" id="txtYear" name="txtYear" placeholder="السنة" tabindex="4" required>
<span ng-show="frmCreateNewEntry.txtYear.$dirty && frmCreateNewEntry.txtYear.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtYear.$error.required">مطلوب</span>
</span>
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
<input ng-model="Date" type="text" class="form-control" id="txtMonth" name="txtMonth" placeholder="الشهر" tabindex="3" required>
<span ng-show="frmCreateNewEntry.txtMonth.$dirty && frmCreateNewEntry.txtMonth.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtMonth.$error.required">مطلوب</span>
</span>
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
<input ng-model="Date" type="text" class="form-control" id="txtDay" name="txtDay" placeholder="اليوم" tabindex="2" required>
<span ng-show="frmCreateNewEntry.txtDay.$dirty && frmCreateNewEntry.txtDay.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtDay.$error.required">مطلوب</span>
</span>
</div>    
</div> -->
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Date" type="text" class="form-control" id="txtDate" name="txtDate" placeholder="القيمة"  tabindex="2" required>
<span ng-show="frmCreateNewEntry.txtDate.$dirty && frmCreateNewEntry.txtDate.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtDate.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4 control-label">التاريخ</label>
<!-- <div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Month" type="text" class="form-control" id="txtMonth" name="txtMonth" placeholder="الشهر" required>
<span ng-show="frmCreateNewEntry.txtMonth.$dirty && frmCreateNewEntry.txtMonth.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtMonth.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الشهر</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Day" type="text" class="form-control" id="txtDay" name="txtDay" placeholder="اليوم" required>
<span ng-show="frmCreateNewEntry.txtDay.$dirty && frmCreateNewEntry.txtDay.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtDay.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">اليوم</label> -->
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Name" type="text" class="form-control" id="txtName" name="txtName" placeholder="الإسم" tabindex="1" required>
<span ng-show="frmCreateNewEntry.txtName.$dirty && frmCreateNewEntry.txtName.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtName.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الإسم</label>
</fieldset>
<!--fieldset 1 End-->
<!--fieldset 2 -->
<fieldset class="form-group row">
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Financials" type="text" class="form-control" id="txtFinancials" name="txtFinancials" placeholder="الحسابات" tabindex="6" required>
<span ng-show="frmCreateNewEntry.txtFinancials.$dirty && frmCreateNewEntry.txtFinancials.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtFinancials.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الحسابات</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="CreditorOrDebtor" type="text" class="form-control" id="txtCreditorOrDebtor" name="txtCreditorOrDebtor" placeholder="دائن أو مدين" tabindex="5" required>
<span ng-show="frmCreateNewEntry.txtCreditorOrDebtor.$dirty && frmCreateNewEntry.txtCreditorOrDebtor.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtCreditorOrDebtor.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">دائن/مدين</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Creditor" type="text" class="form-control" id="txtCreditor" name="txtCreditor" placeholder="القيمة" tabindex="4" required>
<span ng-show="frmCreateNewEntry.txtCreditor.$dirty && frmCreateNewEntry.txtCreditor.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtCreditor.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">دائن</label>
<!-- <div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Year" type="text" class="form-control" id="txtYear" name="txtYear" placeholder="السنة" required>
<span ng-show="frmCreateNewEntry.txtYear.$dirty && frmCreateNewEntry.txtYear.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtYear.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">السنه</label> -->
</fieldset>
<!--fieldset 2 End-->
<!--fieldset 3 -->
<fieldset class="form-group row">
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="SubFinancials2" type="text" class="form-control" id="txtSubFinancials2" name="txtSubFinancials2" placeholder="قيمة الحسابات الفرعيه" tabindex="9" required>
<span ng-show="frmCreateNewEntry.txtSubFinancials2.$dirty && frmCreateNewEntry.txtSubFinancials2.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtSubFinancials2.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">حسابات فرعية 2</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="SubFinancials1" type="text" class="form-control" id="txtSubFinancials1" name="txtSubFinancials1" placeholder="قيمة الحسابات الفرعيه" tabindex="8" required>
<span ng-show="frmCreateNewEntry.txtSubFinancials1.$dirty && frmCreateNewEntry.txtSubFinancials1.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtSubFinancials1.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">حسابات فرعية 1</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="MainFinancials" type="text" class="form-control" id="txtMainFinancials" name="txtMainFinancials" placeholder="قيمة الحسابات الرئيسية" tabindex="7" required>
<span ng-show="frmCreateNewEntry.txtMainFinancials.$dirty && frmCreateNewEntry.txtMainFinancials.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtMainFinancials.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الحسابات الرئيسيه</label>
</fieldset>
<!--fieldset 3 End-->
<!--fieldset 4 -->
<fieldset class="form-group row">
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Site" type="text" class="form-control" id="txtSite" name="txtSite" placeholder="الموقع" tabindex="12" required>
<span ng-show="frmCreateNewEntry.txtSite.$dirty && frmCreateNewEntry.txtSite.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtSite.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الموقع</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Company" type="text" class="form-control" id="txtCompany" name="txtCompany" placeholder="الشركة" tabindex="11" required>
<span ng-show="frmCreateNewEntry.txtCompany.$dirty && frmCreateNewEntry.txtCompany.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtCompany.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الشركة</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="SubFinancials3" type="text" class="form-control" id="txtSubFinancials3" name="txtSubFinancials3" placeholder="قيمة الحسابات الفرعيه" tabindex="10" required>
<span ng-show="frmCreateNewEntry.txtSubFinancials3.$dirty && frmCreateNewEntry.txtSubFinancials3.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtSubFinancials3.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">حسابات فرعية 3</label>
</fieldset>
<!--fieldset 4 End-->
<!--fieldset 5 -->
<fieldset class="form-group row">
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Statement" type="text" class="form-control" id="txtStatement" name="txtStatement" placeholder="البيان" tabindex="15" required>
<span ng-show="frmCreateNewEntry.txtStatement.$dirty && frmCreateNewEntry.txtStatement.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtStatement.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">البيان</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Gender" type="text" class="form-control" id="txtGender" name="txtGender" placeholder="مورد/عامل/موظف" tabindex="14" required>
<span ng-show="frmCreateNewEntry.txtGender.$dirty && frmCreateNewEntry.txtGender.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtGender.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">النوع</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="SuppliersOrCustomersOremployees" type="text" class="form-control" id="txtSuppliersOrCustomersOremployees" name="txtSuppliersOrCustomersOremployees" placeholder="الإسم" tabindex="13" required>
<span ng-show="frmCreateNewEntry.txtSuppliersOrCustomersOremployees.$dirty && frmCreateNewEntry.txtSuppliersOrCustomersOremployees.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtSuppliersOrCustomersOremployees.$error.required">مطلوب</span>
</span>
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">الموردين/العملاء/الموظفين</label>
</fieldset>
<!--fieldset 5 End-->
<!--fieldset 6 -->
<fieldset class="form-group row">
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Outgoings" type="text" class="form-control" id="txtOutgoings" name="txtOutgoings" placeholder="المصروفات" tabindex="18" >
<!-- <span ng-show="frmCreateNewEntry.txtOutgoings.$dirty && frmCreateNewEntry.txtOutgoings.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtOutgoings.$error.required">مطلوب</span>
</span> -->
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">تفصيل مصروفات الموبليات</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Mobile" type="text" class="form-control" id="txtMobile" name="txtMobile" placeholder="رقم الهاتف" tabindex="17" >
<!-- <span ng-show="frmCreateNewEntry.txtMobile.$dirty && frmCreateNewEntry.txtMobile.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtMobile.$error.required">مطلوب</span>
</span> -->
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">رقم الهاتف-خاص بمبيعات الموبليات</label>
<div class="col-md-2 col-sm-2 col-xs-8">
<input ng-model="Adress" type="text" class="form-control" id="txtAdress" name="txtAdress" placeholder="العنوان" tabindex="16" >
<!-- <span ng-show="frmCreateNewEntry.txtAdress.$dirty && frmCreateNewEntry.txtAdress.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtAdress.$error.required">مطلوب</span>
</span> -->
</div>
<label for="textinput" class="col-md-2 col-sm-2 col-xs-4">العنوان-خاص بمبيعات الموبليات</label>
</fieldset>
<!--fieldset 6 End-->
<!--content Footer-->
<div class="modal-footer">
<button type="submit" form="frmCreateNewEntry" ng-click="saveForm(frmCreateNewEntry)" class="btn btn-primary createEntryButton" tabindex="21"><span data-ng-hide="loading">حفظ</span><span data-ng-show="loading">انتظر
<i class="fa fa-spinner fa-spin"></i>
</span></button>
</div>
<!--content Footer End-->
<input ng-model="NewEntryId" type="text" id="txtNewEntryId" name="txtNewEntryId" hidden>
<span ng-show="frmCreateNewEntry.txtNewEntryId.$dirty && frmCreateNewEntry.txtNewEntryId.$invalid">
<span class="errorFont" ng-show="frmCreateNewEntry.txtNewEntryId.$error.required">مطلوب</span>
</span>
</form>
</div>
<!-- createmodal content body end -->
</div>
<!--Content end -->
<!-- ======================================================================================================================================================================== -->      
<!--footer start-->
<footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="text-center">Copyright © 2016 <a href="http://appout.co">Appout LLC</a> , All rights reserved.</p>

                </div>
            </div>
        </div>
    </footer>
<!-- ======================================================================================================================================================================== -->