<!--Navbar start -->
<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="row">
<div class="col-xs-6">
<!--logo start-->
<div>
<a href="#/dashboard">
<img src="img/icon2.png" class="img-responsive headerIcon" alt="logo">
</a>
</div>
<!--logo end-->
</div>
<!--right of navbar start-->
<div class="col-xs-6">
<ul class=" pull-right top-menu list-inline" >
    <li><a class="logout" id="txtUserName">{{txtUserName}}</a></li>
    <li><span class="logout">|</span></li>
    <li><a class="logout" ng-click="logout()" >تسجيل الخروج</a></li>
</ul>
</div>
<!--right of navbar end-->
</div>
</div><!-- /.container-fluid -->
</nav>
<!--Navbar end -->
<!-- ======================================================================================================================================================================== -->      
<!--content start -->
<div class="container-fluid glContent pageBody">
<!--filter&Add start-->
    <div class="row filterandaddcontent">
        <!-- Addbutton Start-->
        <div class="col-md-4 col-md-offset-2 col-xs-6">
            <a type="button" href="#/createnewsupplier" ng-hide="hideCreateBtn" class="btn btn-danger btn-info addbutton pull-left" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus addicon"></span>إضافة
            </a>
        </div>
        <!-- Addbutton end-->
        <!--Filter start -->
        <div class="col-md-4  col-xs-6">
            <input id="filter" ng-model="searchText" type="text" class="form-control" placeholder="إطبع هنا...">
        </div>
        <!--Filter end -->
    </div>
    <!--filter&Add start-->
<!--list of users row start -->
<div class="row">
<!--users table start -->
<div class="col-md-10 col-md-offset-1 col-xs-12">
<div class="table-responsive">
<table class="table usertable">
  <thead>
    <tr>
      <th>المحاسب</th>
      <th>امر شراء بواسطة</th>
      <th>التاريخ</th>
      <th>السعر</th>
      <th>البيان</th>
      <th>حالة الدفع</th>
      <th> </th>
    </tr>
  </thead>
  <tbody class="tblEntry">
    <tr ng-repeat="entry in entryArray | filter:searchText track by $index">
                            <td>{{entry.By}}</td>
                            <td>{{entry.OrderBy}}</td>
                            <td>{{entry.TimeStamp}}</td>
                            <td>{{entry.Price}}</td>
                            <td>{{entry.Statement}}</td>
                            <td>{{entry.PaymentStatus}}</td>
                            <td>
                                <!-- EditDeletebutton start -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle editdeletebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        تحديث<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu editdeletedropdown">
                                        <li><a ng-click="editEntry(entry)">تعديل</a></li>
                                        <li><a ng-click="openDeleteModal(entry[20])">مسح</a></li>
                                    </ul>
                                </div>
                                <!-- EditDelete button end -->
                            </td>
                        </tr>

  </tbody>
</table>
<!--users table end -->
</div>
  </div>
</div>
<!--list of users row end -->
<!-- DeleteModal Start-->
    <div class="modal fade " id="deleteModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <!-- DeleteModal content start-->
            <div class="modal-content">
                <!-- DeleteModal content header start -->
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeDeleteModal()">
                        <span aria-hidden="true" class="pull-left" data-dismiss="modal">&times;</span>
                    </button>
                    <h4 class="createentry-title">حذف المورد</h4>
                </div>
                <!-- DeleteModal content header end -->
                <!-- DeleteModal content body start -->
                <div class="modal-body DeleteModalbody">
                   <p>هل انت متأكد انك تريد حذف هذا المورد؟</p> 
                </div>
                <!-- DeleteModal content body end -->
                <!-- DeleteModal content footer start -->
                <div class="modal-footer DeleteModalfooter">
                    <button type="button" ng-click="deleteEntry()" class="btn btn-primary createEntryButton" data-dismiss="modal">موافق</button>
                    <button type="button" ng-click="closeDeleteModal()" class="btn btn-default " data-dismiss="modal">إلغاء</button>
                </div>
                <!-- DeleteModal content footer end -->
            </div>
            <!-- DeleteModal content end-->
        </div>
        <!-- DeleteModal end-->
    </div>
</div>
<!--content end -->
<!-- ======================================================================================================================================================================== -->      
<!--footer start-->
<footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="text-center">Copyright © 2016 <a href="http://appout.co">Appout LLC</a> , All rights reserved.</p>

                </div>
            </div>
        </div>
    </footer>
<!-- ======================================================================================================================================================================== 